<header class="bg-teal-500 py-6">
    <div class="container mx-auto flex justify-between items-center">
        <!-- Brand Logo -->
        <h1 class="text-white text-2xl font-bold">crick<span class="text-yellow-200">Sync</span></h1>
        
        <!-- Navigation Menu -->
        <nav class="flex space-x-16 font-extrabold text-2xl ">
            <a [routerLink]="'/home'" href="#" class="text-white hover:text-yellow-300 transition duration-300 ">Home</a>
            <a [routerLink]="'/live'" href="#" class="text-white hover:text-yellow-300 transition duration-300">Live Matches</a>
            <a [routerLink]="'/history'" href="#" class="text-white hover:text-yellow-300 transition duration-300">History</a>
            <a [routerLink]="'/point-table'" href="#" class="text-white hover:text-yellow-300 transition duration-300">Point Table</a>
        </nav>
        <div></div>
    </div>
</header>
<div class="px-28 py-12">
    <router-outlet></router-outlet>
</div>

<!-- <h1>Footer</h1> -->