@if(match){
    <div class="border-l-4 rounded h-full cursor-pointer hover:border-b-green-800  hover:bg-blue-300 transition-all card border-l-red-500 border p-4 bg-white shadow-lg mt-2 text-sm font-normal">
        <div class="header border-b-2 pb-4 border-b-gray-200">
            <h1 class="font-bold ">{{match.teamHeading}}</h1>
            <p class="m-2">{{match.matchNumberVenue}}
            </p>
        </div>
        <div class="body">
            <div class="flex justify-between mt-4 px-2">
                <p class="font-bold">{{match.battingTeam}}</p>
                <p class="font-bold">{{match.battingTeamScore}}</p>
            </div>
        </div>
        <div class="flex justify-between mt-4 px-2">
            <p class="font-bold">{{match.bowlTeam}}</p>
            <p class="font-bold">{{match.bowlTeamScore}}</p>
        </div>
        <div class="footer mt-3">
            <p class="text-red-500">{{match.liveText}}</p>
            <p class="text-green-500">{{match.textComplete}}</p>
        </div>
    </div>
    
}